<div class="card employee-card m-3 col-3">
    <div class="bg-primary card-header">
        <h2 class="text-white card-title">{{ name }}</h2>
        <h3 class="text-white card-title"><i class="text-white fas fa-mug-hot mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="text-white bg-secondary list-group-item">ID: {{ id }}</li>
            <li class="text-white bg-secondary list-group-item">Email: <a  class = "text-white" href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="text-white bg-secondary list-group-item">Office number: {{ officeNumber }}</li>
        </ul>
    </div>
</div>
